* {
  box-sizing: border-box;
}

body {
  background: #222;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

nav {
  background: #000;
  position: absolute;
  width: 64px;
  bottom: 0;
  top: 0;
}

nav svg {
  
  width: 64px;
  height: 64px;
  
}

main svg {
  width: 100%;
  height: 100%;
}

main {
  position: absolute;
  left: 64px;
  top: 0;
  cursor: crosshair;
  bottom: 0;
  right: 0;
}

nav ul {
  z-index: 2;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  list-style: none;
}

nav ul li {
  display: block;
}

nav a.selected > svg,
nav a.selected > svg {
  background: #333;
}

svg.move {
  cursor: move;
}

#bounds {
  stroke: mediumseagreen;
  stroke-width: 1px
}

#cursor {
  stroke: white;
  stroke-width: 1px
}

#grid {
  stroke: #333;
  stroke-width: 1px;
  fill: none;
}

.hidden {
  display:none;
}

@media only screen and (orientation: landscape) {
  nav {
    height: 64px;
    width: 100vw;
    bottom: auto;
  }
  
  main {
    left: 0;
    top: 64px;
    right: 0;
    bottom: 0;
  }
}